<!DOCTYPE html>
<html>
<head>
    <title>Inicio califauto</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Iniciar Sesión</h1>
    <form method="POST">
        <label for="usuario">Usuario/email:</label>
        <input type="text" name="email" required><br>
        
        <label for="contraseña">Contraseña:</label>
        <input type="password" name="password" required><br>
        
        <button type="submit">Iniciar Sesión</button>
    </form>
    
    <p>¿No tienes una cuenta? <a href="{{ url_for('registro') }}">Regístrate aquí</a></p>
    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}
</body>
</html>