<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">    
    <title>Nuevo usuario</title>
</head>
<body>
    <h1>Nuevo Usuario</h1>
    <form method="post">
        {{ form.hidden_tag()}}
        <div>
            {{ form.nombres.label }}<br>
            {{ form.nombres(size=50) }}
        </div>
        <div>
            {{ form.apellidos.label }}<br>
            {{ form.apellidos(size=50) }}
        </div>
        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=30) }}
        </div>
        <div>
            {{ form.usertype.label }}<br>
            {{ form.usertype(size=10) }}
        </div> <div>
            {{ form.password.label }}<br>
            {{ form.password(size=50) }}
        </div>
        <div>
            <input type="submit" value="Guardar">
        </div>
    </form>
</body>
</html>